.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 256px;
  /* border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px; */
}
.wrapperTitle {
  font-size: 26px;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}
